 <p> if you have any questions, feel free to reach out to us. we will happy to help you</p>
    <p>Best regards, <br/> The Clash Team</p>
    <p>in case any queary contect <strong>info@clash.com</strong></p>
    